# Dependencies
node_modules/

# Environment variables
.env
.env.local
.env.development
.env.production

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Uploads
uploads/

# Documentation
docs/

# OS files
.DS_Store
Thumbs.db

# IDE / Editor
.vscode/
.idea/

# Build / Coverage
dist/
build/
coverage/

# Temporary files
tmp/
temp/

# Vercel
.vercel/